.dropdownContainer {
    background-color: #04121C;
    width: 1500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rosterContainer {
    background-color: #04121C;

    width: 1500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */
}

.teamSelect {
    display: flex;
    flex-direction: column;
}

.teamSelectTitle {
    color: white;
    font-family: 'Acumin Pro';
    font-size: 12px;
    margin-left: 10px;;
}

.icons {
    height: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.positionTitle {
    color: white;
    font-family: 'Prohibition';
    font-size: 16px;
    text-align: center;

    border-radius: 100px;

    width: 160px;
    padding: 3px 10px;
    padding-bottom: 5px;
}

.qbTitle {
    background-color: rgba(232, 77, 87, 0.22);
    border: 2px solid #E84D57;
}

.rbTitle {
    background-color: rgba(40, 171, 226, 0.22);
    border: 2px solid rgba(40, 171, 226, 1);
}

.wrTitle {
    background-color: rgba(26, 224, 105, 0.22);
    border: 2px solid rgba(26, 224, 105, 1);
}

.teTitle {
    background-color: rgba(250, 191, 74, 0.22);
    border: 2px solid rgba(250, 191, 74, 1);
}