.dropdownContainer {
    background-color: #04121C;
    width: 1500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.rosterContainer {
    background-color: #04121C;

    width: 1500px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: flex-start;
}

.teamSelect {
    display: flex;
    flex-direction: column;
}

.teamSelectTitle {
    color: white;
    font-family: 'Acumin Pro';
    font-size: 12px;
    margin-left: 10px;;
}

.icons {
    height: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-top: 5px;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Prohibition';
    padding-bottom: 5px;
    font-weight: normal;
}

.positionTitle {
    color: white;
    font-family: 'Prohibition';
    font-size: 16px;
    text-align: center;

    border-radius: 100px;

    width: 160px;
    padding: 3px 10px;
    padding-bottom: 5px;

    text-transform: uppercase;
}

.qbTitle {
    background-color: rgba(232, 77, 87, 0.22);
    border: 2px solid #E84D57;
}

.rbTitle {
    background-color: rgba(40, 171, 226, 0.22);
    border: 2px solid rgba(40, 171, 226, 1);
}

.wrTitle {
    background-color: rgba(26, 224, 105, 0.22);
    border: 2px solid rgba(26, 224, 105, 1);
}

.teTitle {
    background-color: rgba(250, 191, 74, 0.22);
    border: 2px solid rgba(250, 191, 74, 1);
}

.picksTitle {
    background-color: rgba(244, 127, 32, 0.22);
    border: 2px solid rgba(244, 127, 32, 1);
}

.positionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playersColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 0px 15px;


    font-family: 'Acumin Pro Condensed';
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.player {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.adp {
    font-weight: bold;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}