.topSection {
    display: flex;
    flex-direction: row;
    background-color: #04121C;
    width: fit-content;
}

.dropdownContainer {
    background-color: #04121C;
    width: fit-content;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.rosterContainer {
    background-color: #04121C;

    width: fit-content;
    padding: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: flex-start;

    border-top: 1px solid #ccc;
}

.teamSelect {
    display: flex;
    flex-direction: column;
}

.teamSelectTitle {
    color: white;
    font-family: 'Acumin Pro';
    font-size: 12px;
    margin-left: 10px;;
}

.icons {
    height: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-top: 5px;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Prohibition';
    padding-bottom: 5px;
    font-weight: normal;
}

.positionTitle {
    color: white;
    font-family: 'Prohibition';
    font-size: 16px;
    text-align: center;

    border-radius: 100px;

    width: 160px;
    padding: 3px 10px;
    padding-bottom: 5px;

    text-transform: uppercase;
}

.qbTitle {
    background-color: rgba(232, 77, 87, 0.22);
    border: 2px solid #E84D57;
}

.rbTitle {
    background-color: rgba(40, 171, 226, 0.22);
    border: 2px solid rgba(40, 171, 226, 1);
}

.wrTitle {
    background-color: rgba(26, 224, 105, 0.22);
    border: 2px solid rgba(26, 224, 105, 1);
}

.teTitle {
    background-color: rgba(250, 191, 74, 0.22);
    border: 2px solid rgba(250, 191, 74, 1);
}

.picksTitle {
    background-color: rgba(244, 127, 32, 0.22);
    border: 2px solid rgba(244, 127, 32, 1);
}

.positionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playersColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 0px 15px;

    font-family: 'Acumin Pro Condensed';
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.player {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.adp {
    font-weight: bold;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.tradeContainer {
    background-color: #04121C;

    width: 1400px;

    border-top: 1px solid #ccc;
}

.toTradeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1500px;

    border-right: 1px solid #ccc;

    padding: 20px;
}

.toTradeContainer:last-child {
    border-right: none;
    margin-right: 0px;
}

.tradeTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 40px;
    text-align: center;

    margin-bottom: 10px;
}

.toTradeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.toTargetContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.downtierRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.suggestedMovesContainer {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.moveTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 30px;
    text-align: center;
}

.topRightSection {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #04121C;

    align-items: center;
    justify-content: space-between;

    border-left: 1px solid #ccc;
}

.archetypeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    /* width: 100%; */

    padding: 20px;

    border-bottom: 1px solid #ccc;
}

.twoYearOutlookContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding: 20px;
}

.archetypeTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 25px;
    text-align: center;
}

.draftCapitalContainer {
    background-color: #04121C;
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;

    width: 600px;

    padding: 20px;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.draftCapitalHeaderRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.draftCapitalTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 30px;
}

.draftCapitalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addDraftPickContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bottomSection {
    display: flex;
    flex-direction: row;
}

.bottomRightSection {
    display: flex;
    flex-direction: column;

    background-color: #04121C;
}

.idealTradePartnersTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 30px;
}

.idealTradePartnersContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.idealTradePartnersBody {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.topPrioritiesContainer {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-left: 1px solid #ccc;

}

.topPrioritiesTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Prohibition';
    font-size: 30px;
}

.flexStarter {
    background: -webkit-linear-gradient(rgba(232, 77, 87, 1), rgba(40, 171, 226, 1), rgba(26, 224, 105, 1), rgba(250, 191, 74, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
}

.qbStarter {
    color: #E84D57;
    font-weight: bold;
}

.rbStarter {
    color: #28ABE2;
    font-weight: bold;
}

.wrStarter {
    color: #1AE069;
    font-weight: bold;
}

.teStarter {
    color: #FABF4A;
    font-weight: bold;
}