.fullBlueprint {
    position: relative;
    width: 1400px;
}

.blankBp {
    width: inherit;
}

.startersGraphic {
    position: absolute;
    left: 50px;
    top: 305px;
    scale: 0.69;
    transform-origin: top left;
}


.positionalGradesGraphic {
    position: absolute;
    left: 720px;
    top: 570px;
    scale: 0.65;
    transform-origin: top left;
}

.rosterTierGraphic {
    position: absolute;

    right: 390px;
    top: 88px;

    font-family: 'Prohibition';
    font-size: 86px;
}


.monthYear {
    position: absolute;
    right: 60px;
    top: 220px;

    font-family: 'Erbaum';
    font-size: 30px;
    color: white;
}
