.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 1200px;
}

.liveBlueprint {
    position: relative;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 300px;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Prohibition';
    padding-bottom: 5px;
    font-weight: normal;
}