.container {
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bp {
    position: absolute;
    left: -9999px;
    top: -9999px;
}