.fullBlueprint {
    position: relative;
}

.assets {
    position: absolute;
    width: 100%;;
}

.backgroundImg {
    width: 100%;
}

.teamName {
    position: absolute;
    color: white;
    left: 120px;
    top: 13px;
    
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamNameText {
    font-family: 'Prohibition';
    width: 380px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.draftStrategyItem {
    position: absolute;
}

.draftStrategyYear {
    font-family: Erbaum;
    font-size: 20px;
    font-weight: 700;

    margin-left: -15px;
}

.draftStrategyPicks {
    color: #FFF;
    font-family: Erbaum;
    font-size: 15.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.draftStrategyLabel {
    font-family: Prohibition;
    font-size: 40.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: -12px;
}

.draftStrategyText {
    color: #FFF;
    font-family: "Acumin Pro";
    font-size: 12.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 220px;
}

.age {
    position: absolute;

    color: #FFF;
    text-align: center;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 20px;
    font-weight: 700;

    width: 30px;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.trueRanks {
    position: absolute;

    display: flex;
    flex-direction: column;

    height: 350px;

    justify-content: space-between;
}

.trueRankRow {
    display: flex;
    flex-direction: row;
}

.playerName {
    color: #FFF;
    font-family: Erbaum;
    font-size: 9.18px;
    font-weight: 400;
    width: 144px;
}

.posTeamCard {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 70px;
    justify-content: space-evenly;

    background-color: aqua;
    border-radius: 1000px;
}

.posTeamCardPosition {
    color: #FFF;
    font-family: Erbaum;
    font-size: 9.18px;
    font-weight: 400;
}

.teamLogo {
    width: 12px;
}

.score {
    color: #FFF;
    font-family: Erbaum;
    font-size: 9.18px;
    font-weight: 400;

    text-align: center;
    width: 90px;
}

.archetypeCard {
    color: #FFF;
    font-family: Erbaum;
    font-size: 9.18px;
    font-weight: 400;

    text-align: center;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: grey;
    border-radius: 1000px;
}

.compositePosRank {
    color: #FFF;
    font-family: Erbaum;
    font-size: 9.18px;
    font-weight: 400;

    text-align: center;
    width: 110px;
}
