.fullBlueprint {
    position: relative;
}

.assets {
    position: absolute;
    width: 100%;;
}

.backgroundImg {
    width: 100%;
}

.teamName {
    position: absolute;
    color: white;
    left: 120px;
    top: 13px;
    
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamNameText {
    font-family: 'Prohibition';
    width: 380px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.draftStrategyItem {
    position: absolute;
}

.draftStrategyPicks {
    color: #FFF;
    font-family: Erbaum;
    font-size: 15.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.draftStrategyLabel {
    font-family: Prohibition;
    font-size: 40.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: -12px;
}

.draftStrategyText {
    color: #FFF;
    font-family: "Acumin Pro";
    font-size: 12.18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 220px;
}

.age {
    position: absolute;

    color: #FFF;
    text-align: center;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 20px;
    font-weight: 700;

    width: 30px;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}