.backgroundImg {
    width: 100%;
}

.fullBlueprint {
    position: relative;
}

.teamName {
    position: absolute;
    color: white;
    left: 125px;
    top: 10px;
    font-family: 'Prohibition';
    font-size: 50px;

    width: 53%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.numTeams {
    position: absolute;
    color: white;
    font-family: 'Erbaum';
    font-weight: 500;
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.isSuperFlex {
    position: absolute;
    color: white;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.ppr {
    position: absolute;
    color: white;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.tep {
    position: absolute;
    color: white;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.rosterArchetype {
    position: absolute;
    font-family: 'Prohibition';
    font-size: 32px;
    color: white;
}

.rosterGrades {
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 16px;
    font-weight: 700;
    color: white;
    position: absolute;
    width: 375px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: left; */
}

.rosterGrade {
    width: 20px;
    text-align: center;
}

.positionalGradeDisc {
    position: absolute;
    color: #FFF;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Erbaum';
    font-size: 32px;

    width: 53px;
    height: 53px;
    text-align: center;
}

.positionalGradeDiscInner {
    position: relative;
}

.pie {
    position: absolute;
    top: 0px;
    left: 0px;
}

.pieGrade {
    position: absolute;
    top: 4px;
    left: 0px;

    width: 56px;
    height: 56px;
}

.productionValueShare {
    position: absolute;

    color: #FFF;

    font-family: Erbaum;
    font-size: 35px;
    font-weight: 400;
}

.twoYearOutlook {
    position: absolute;

    color: #FFF;
    font-family: "Acumin Pro Condensed";
    font-size: 20px;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.overallGrade {
    position: absolute;
    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Erbaum';
    font-size: 51.33px;
    font-weight: 800;

    width: 113px;
}

.outlookCard {
    width: 100px;
    text-align: center;

    border: 2px solid white;
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 2px;
}

.roster {
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.playerCard {
    color: #FFF;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;

    width: 102px;

    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);

    padding-left: 4px;
    padding-right: 4px;
}

.headshot {
    height: 14.5px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}


.playerName {
    padding-top: 3px;

    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.teamLogo {
    height: 14.5px;;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.playersColumn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.draftCapital {
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.draftCapitalYear {
    font-family: Erbaum;
    font-size: 12px;
    font-weight: 700;
}

.draftCapitalNotes {
    color: #FFF;
    font-family: "Acumin Pro Condensed";
    font-size: 12px;
    font-weight: 600;
    padding-top: 3px;
}