.backgroundImg {
    width: 100%;
}

.fullBlueprint {
    position: relative;
}

.teamName {
    position: absolute;
    color: white;
    left: 125px;
    top: 10px;
    font-family: 'Prohibition';
    font-size: 50px;

    width: 53%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.numTeams {
    position: absolute;
    color: white;
    right: 204px;
    top: 28px;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.isSuperFlex {
    position: absolute;
    color: white;
    right: 145px;
    top: 28px;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.ppr {
    position: absolute;
    color: white;
    right: 86px;
    top: 28px;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}

.tep {
    position: absolute;
    color: white;
    right: 27px;
    top: 28px;
    font-family: 'Erbaum';
    font-size: 25px;

    width: 48px;
    text-align: center;
}